nav ul li {
  display: inline-block;
}

nav ul li .Link {
  text-decoration: none;
  padding: 10px;
  background-color: #61dafb;
  margin: 10px;
  color: #000;
  border-radius: 5px;
  transition: all 0.2s;
  font-weight: bold;
}

nav ul li .Link:hover {
  color: #61dafb;
  background-color: #000;
  transition: all 0.2s;
}
